body {
 font-family: Garamond;
 font-size:30px;
 background:#c6b9ab;
 text-align: center;
}

#header{
 display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family:Garamond;
  font-size:40px;
  text-align:center;
}
#headerpic1 {
  border-radius:5px;
  -webkit-box-shadow: 0px 22px 29px -5px rgba(173,170,173,1);
-moz-box-shadow: 0px 22px 29px -5px rgba(173,170,173,1);
box-shadow: 0px 22px 29px -5px rgba(173,170,173,1);
 }
 #headerpic2 {
  border-radius:5px;
  -webkit-box-shadow: 0px 22px 29px -5px rgba(173,170,173,1);
-moz-box-shadow: 0px 22px 29px -5px rgba(173,170,173,1);
box-shadow: 0px 22px 29px -5px rgba(173,170,173,1);
 }
 #subheader {
   color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family:Garamond;
  font-size:30px;
  text-align:center;
 }
  #subheader1 {
   color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family:Garamond;
  font-size:30px;
  text-align:center;
 }

#Lagunitas {
  background: #716a75;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-radius: 8px;
  text-align: left;
}

#IPA {
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 12px 0px rgba(138,138,138,1);
  }

#Stout {
  background: #716a75;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-radius: 8px;
  text-align: right;
}

#oilslick {
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 12px 0px rgba(138,138,138,1);
  }

button{
     display: center;
  justify-content: space-between;
  align-items: right;
  padding: 8px 12px;
    border: 1px solid orange;
    border-radius: 7px;
    color: orange;
    background-color: white;
    font-size: 32px;
    font-family: 'Garamond', Arial, Verdana, sans-serif;
    transition: background-color linear 0.3s, color linear 0.3s;
}

button:hover{
    background-color: orange;
    color: white;
}

button:focus{
    outline: none;
}

.bounce{
    margin-left: 10px;
}
